@font-face {
    font-family: "SpotifyBold";
    src: url("assets/font/Gotham-Black.otf");
}

@font-face {
    font-family: "SpotifyMedium";
    src: url("assets/font/GothamMedium.ttf");
}

@font-face {
    font-family: "Script";
    src: url("assets/font/Taner\ Ardali\ \ Antikor\ Mono\ Regular.ttf");
}

@font-face {
    font-family: "FiraMona";
    src: url("assets/font/FiraMono-Regular.otf");
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FiraMona';
    overflow-x: hidden;
}

body{
    background-color: #111112;
    transition: background 0.3s linear;
}

body.dark{
    background-color: #fff;
}

body .coin p{
    color: #fff;
}

body.dark .coin p{
    color: #000;
}

/* ======== ScrollBar ======== */
::-webkit-scrollbar {
    width: 11px;
    border-radius: 100%;
}

::-webkit-scrollbar-track {
    background: #111112;
}
  
::-webkit-scrollbar-thumb {
    background: #18181c;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1a1a1d;
}

.container{
    background-position: center;
    background-size: cover;
    padding-top: 4.6vh;
    color: #fff;
}

.titlebar{
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 4.7vh;
    line-height: 4.6vh;
    white-space: nowrap;
    background-color: #18181c;
}

.titlebarText{
    display: flex;
    text-align: left;
    padding-left: 7px;
    width: fit-content;
    height: fit-content;
    font-size: 2vh;
    font-family: 'SpotifyMedium';
    color: #8c8c8e;
}


/* ======== Check Box Moon/Sun ======== */
.containerCheckbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
    transform: scale(1);
}

.ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 26px;
    height: 22px;
    width: 22px;
    transition: transform 0.3s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(-24px);
}

.fa-moon{
    color: #f1c40f;
}

.fa-sun{
    color: #f39c12;
}

.fa-gear{
    color: #f39c12;
}


/* ======== Coin ======== */
.coin-list{
    position: static;
    display: block;
    align-items: center;
}

.coin{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 14px;
    margin: 1%;
    color: #ff960b;
    padding: 10px 20px;
}

.coin img{
    margin-right: 20px;
}

.coin p{
    margin-bottom: 5px;
    font-size: 4vh;
}

.coin h5{
    color: #fff;
    margin-bottom: 5px;
}

.ligne{
    background: transparent;
    border-color: #595656;
    border-width: 0 0 1px;
    border-style: solid;
}

.priceText{
    width: 27vh;
}

.graphCoin{
    height: 10vh;
    width: 25vh;
    padding-left: 0vh;
    margin-left: 3vh;
}