@font-face {
    font-family: "SpotifyBold";
    src: url("assets/font/Gotham-Black.otf");
}

@font-face {
    font-family: "SpotifyMedium";
    src: url("assets/font/GothamMedium.ttf");
}

@font-face {
    font-family: "Script";
    src: url("assets/font/Taner\ Ardali\ \ Antikor\ Mono\ Regular.ttf");
}

@font-face {
    font-family: "FiraMona";
    src: url("assets/font/FiraMono-Regular.otf");
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FiraMona';
    overflow-x: hidden;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 12px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #111112;
}
  
::-webkit-scrollbar-thumb {
    background: #18181c;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1a1a1d;
}

.container{
    background-color: #111112; 
    background-position: center;
    background-size: cover;
    color: #fff;
}

.titlebar{
    height: 4.6vh;
    line-height: 4.6vh;
    white-space: nowrap;
    background-color: #18181c;
}

.titlebarText{
    text-align: left;
    padding-left: 7px;
    width: fit-content;
    height: fit-content;
    font-size: 2vh;
    font-family: 'SpotifyMedium';
    color: #8c8c8e;
}

.coin-list{
    position: static;
    display: block;
    align-items: center;
}

.coin{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 14px;
    margin: 1%;
    color: #ff960b;
    padding: 10px 20px;
    /* background-color: red; */
}

.coin img{
    margin-right: 20px;
}

.coin p{
    color: #fff;
    margin-bottom: 5px;
    font-size: 4vh;
}

.coin h5{
    color: #fff;
    margin-bottom: 5px;
}

.ligne{
    background: transparent;
    border-color: #595656;
    border-width: 0 0 1px;
    border-style: solid;
}

.priceText{
    width: 27vh;
}

.graphCoin{
    height: 10vh;
    width: 25vh;
    padding-left: 0vh;
    margin-left: 3vh;
    /* background-color: yellowgreen; */
}